* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #777;
    font-family: 'Courier New', Courier, monospace;
}

.grid-container {
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

img {
    width: 1.5rem;
}

.grid-container .header {
    background-color: whitesmoke;
    grid-column: 2;
    border-bottom: 2px solid black;
    z-index: 1;
    box-shadow: 0 0 10px 2px black;
}

.grid-container .header .search-notif {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: .75rem;
    padding-inline: 2rem;
}

.grid-container .header .search-notif .search {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.grid-container .header .search-notif .search input {
    background-color: #dddddd;
    font-size: inherit;
    border: none;
    border-radius: 20px;
    padding: 8px;
    width: clamp(150px, 80%, 800px);
}

.grid-container .header .search-notif .notif {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.25rem;
    /* border: 1px solid greenyellow; */
}

.grid-container .header .search-notif .notif .small {
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    border: 1px solid black;
}

.grid-container .header .information {
    display: grid;
    grid-template-columns: 2fr minmax(400px, 1fr);
    padding: 1rem 2rem;
}

.grid-container .header .information .prof {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.grid-container .header .information .prof .greet .hi {
    margin-bottom: 7px;
}

.grid-container .header .information .prof .greet .big-name {
    font-size: 1.5rem;
}

.grid-container .header .information .big {
    min-width: 75px;
    min-height: 75px;
    background-color: pink;
    border-radius: 50%;
}

.grid-container .header .information .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;
}

.grid-container .header .information .buttons button {
    padding-block: 12px;
    border: 1px solid black;
    border-radius: 2rem;
}


.grid-container .aside {
    background-color: pink;
    grid-column: 1;
    grid-row: 1 / 3;
    z-index: 1;
}

.grid-container .main {
    background-color: yellow;
    grid-column: 2;
    grid-row: 2;
}


